<?xml version="1.0" encoding="utf-8" ?>

<!--NLog needs to have information about the folder to create log files in, 
what the name of these files will be and what a minimum level of logging is. 
Therefore, we need to create one text file in the main project with the name 
nlog.config and to populate it as in the example below. You need to change 
the path of the internal log and filename parameters to your paths-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Users\abez\source\repos\AccountOwnerServer\FolderForLogs\internal_logs">
 
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:/Users/abez/source/repos/AccountOwnerServer/FolderForLogs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>
 
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>